table{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background: linear-gradient(120deg, #f9f2e7, #ffefa9);
    width: 450;
    height: 550;
}

#centrar{
    text-align: center;
}

thead{
    font-size: 30px;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #aee239, #00a8c6);
    display:flex;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}

form, .menu{
    width: 400px;
    margin: 300px auto;
    background-color: #ffFFFf;
    box-sizing:border-box;
    padding: 32px;
    border-radius: 8px;
    text-align: center;
}

input, .menu{
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border:unset;
}

input:hover{
    background-color: #eeeeee;
}

.enviar:hover{
    background-color: #dddcdc;
}

.senha{
    border-top: 1px solid #cfcfcf;
}

.th, td{
    border-bottom: 1px solid #ddd;
  }

#linha:hover{
    background-color: #d1b553;
}